*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* ! Animation classes */
/* ! End of animation classes */
a:link{
  text-decoration: none;
}
/*! Navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  /* background-color: aliceblue; */
}
.navbar .name p{
  font-weight: 500;
}
.navbar .links ul{
  display: flex;
  gap: 15px;
}
.navbar .links ul li{
  list-style-type: none;
}
.navbar .links ul li a{
  color: rgb(72, 72, 72);
  text-decoration: none;
  transition: all 0.2s ease;
}
.navbar .links ul li a:hover{
  /* text-decoration: underline; */
  color: black;
}
/*! Homepage */
.container{
  /* background-color: azure; */
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 100px 100px 0 100px;
}
.container .intro-text .intro-bold{
  font-weight: 600;
  font-size: 2em;
  line-height: 35px;
}
.container .intro-text > a{
  text-decoration: underline;
  color: rgb(82, 82, 247);
  font-size: 0.8em;
}
.container .image{
  margin-bottom: 10px;
}
.container .image img{
  width: 250px;
  filter: drop-shadow(0.2rem 0.3rem 0.8rem black);
  border-radius: 30% 50% 60% 40%;
}
/* ? Animation */
#name-animation{
  background-image: linear-gradient(60deg,#7743DB, #C3ACD0);
  background-clip: text;
  color: transparent;
  transition: all 0.4s ease;
}
#name-animation:hover{
  font-size: 2em;
  font-weight: bold;
  background-image: linear-gradient(60deg,#7743DB, #C3ACD0);
  background-clip: text;
  color: transparent;
}
#tech-animation{
  transition: all 0.4s ease;
  background-image: linear-gradient(60deg,#F31559, #FF52A2);
  background-clip: text;
  color: transparent;
}
#tech-animation:hover{
  font-size: 2em;
  font-weight: bold;
  background-image: linear-gradient(60deg,#F31559, #FF52A2);
  background-clip: text;
  color: transparent;
}
#place-animation{
  background-image: linear-gradient(60deg,#C07F00, #FFD95A);
  background-clip: text;
  color: transparent;
  transition: all 0.4s ease;
}
#place-animation:hover{
  font-size: 2em;
  font-weight: bold;
  background-image: linear-gradient(60deg,#C07F00, #FFD95A);
  background-clip: text;
  color: transparent;
}
/* ? Animation end */
.contact-info-icons{
  margin-top: 10px;
}
.contact-info-icons a i{
  font-size: 1.7em;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;

}
.contact-info-icons a i:hover{
  color: rgba(0, 0, 0, 0.8);
}
.scroll-wheel{
  position: relative;
  animation: MoveUpDown 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  
}
.scroll-wheel p,i{
  color: rgba(0, 0, 0, 0.8);
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}
.scroll-wheel i{
  font-size: 2em;
}
.scroll-wheel a{
  color: black;
}
/* ! About part */
.about{
  /* text-align: center; */
  height: 100vh;
  padding: 0 50px;
}
.about > p{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 10px;
}
.about > p > span{
  background-image: linear-gradient(60deg, #7360DF,#b882f1);
  background-clip: text;
  color: transparent;
}
.about .about-container{
  height: 50vh;
  display: flex;
  margin-bottom: 20px;
}
.about .about-image-skills{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(60deg,#0C356A,#279EFF);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border: 1px solid; */
  border-radius: 20px;
}
.about .about-image-skills p{
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  background: transparent;
}
.about .about-skills{
  width: 80%;
  padding:0 0 0 25px;
  /* background-color: rgb(51, 51, 95); */
}
.about .about-skills > h3{
  font-size: 1.6em;
}
.about .about-skills > p{
  font-size: 0.9em;
  font-weight: 400;
}
.about .about-skills .skills-icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 55px;
  /* background-color: #0C6291; */
}
.about .about-skills .skills-icons i{
  color: rgba(0, 0, 0, 0.5);
  font-size: 4em;
  transition: all 0.3s ease;
}
.about .about-skills .skills-icons i:hover{
  color: rgba(0, 0, 0, 0.8);
  font-size: 4.7em;
}
#react-animation{
  background-image: linear-gradient(60deg,#7743DB, #C3ACD0);
  background-clip: text;
  color: transparent;
  transition: all 0.4s ease;
}
#react-animation:hover{
  background-image: linear-gradient(60deg,#7743DB, #C3ACD0);
  background-clip: text;
  color: transparent;
  font-size: 2em;
  font-weight: bold;
}
#project-animation-link a{
  transition: all 0.4s ease;
  background-image: linear-gradient(60deg,#F31559, #FF52A2);
  background-clip: text;
  color: transparent;
}
#project-animation-link a:hover{
  background-image: linear-gradient(60deg,#F31559, #FF52A2);
  background-clip: text;
  color: transparent;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 1px solid;
  cursor: pointer;
  /* text-decoration: underline; */
}
/*! Hobby container */
.about .hobby-container{
  display: flex;
  flex-direction: row-reverse;
  height: 35vh;
}
.about .hobby-container .about-image-hobby{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: rgb(71, 42, 42); */
  background-image: url(./Components/Images/photography-tab-background.jpg);
  /* border: 1px solid; */
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.about .hobby-container .about-image-hobby p{
  font-weight: 600;
  font-size: 2em;
  background: transparent;
}
.about .hobby-container .about-image-hobby p:nth-child(2){
  font-size: 1.2em;
  color: #b8a02c;
}
.about .hobby-container .about-image-hobby p span{
  background-image: linear-gradient(60deg,#e9ce44,#1d7205);
  background-clip: text;
  color: transparent;
}
.about .hobby-container .about-hobby{
  width: 70%;
  display: flex;
  gap: 10px;
  overflow-y: hidden;
  scrollbar-color: transparent transparent;
  padding: 10px 0;
  margin-right: 20px;
  border-radius: 20px;
}
.about .hobby-container .about-hobby img{
  width: 300px;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.2rem black);
}
/*! Projects component */
.projects{
  height: 100vh;
  padding: 0 50px;
}
.projects > p{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}
.projects > p > span{
  background-image: linear-gradient(60deg,#12486B,#419197);
  background-clip: text;
  color: transparent;
}
.projects-container{
  height: 85vh;
  display: flex;
  flex-direction: column;
}
.project-1{
  /* background-color: #0C6291; */
  height: 50%;
  display: flex;
  margin-bottom: 15px;
}
.project-1 .thumbnail{
  border-radius: 20px;
  width: 40%;
}
.project-1 .thumbnail img{
  border-radius: 20px;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.project-1 .desc{
  margin-left: 20px;
  width: 60%;
}
.project-1 .desc p{
  font-weight: 400;
}
.project-1 .desc button{
  margin-top: 6px;
  font-weight: 500;
  color: #ecebf3;
  padding: 10px;
  border: none;
  background-color: #ff5e5b;
  border-radius: 30px;
  transition: all 0.2s ease;
}
.project-1 .desc button:hover{
  background-color: #fc3d3a;
  filter: drop-shadow(0 0 0.55rem );
  cursor: pointer;
}
.project-1 .desc a:nth-child(2){
  margin-left: 10px;
}
.project-2{
  /* background-color: aquamarine; */
  height: 50%;
  display: flex;
  flex-direction: row-reverse;
}
.project-2 .thumbnail{
  width: 40%;
}
.project-2 .thumbnail img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid black;
}
.project-2 .desc{
  width: 60%;
}
.project-2 .desc p{
  font-weight: 400;
}
.project-2 .desc button{
  margin-top: 6px;
  font-weight: 500;
  color: #ecebf3;
  padding: 10px;
  border: none;
  background-color: #016aae;
  border-radius: 30px;
  transition: all 0.2s ease;
}
.project-2 .desc button:hover{
  background-color: #025992;
  filter: drop-shadow(0 0 0.55rem );
  cursor: pointer;
}
.project-2 .desc a:nth-child(2){
  margin-left: 10px;
}
/* ! Contact form */
.contact{
  height: 50vh;
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
  padding: 0 50px;
}
.contact > p{
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.contact > p > span{
  background-image: linear-gradient(60deg,#C07F00, #FFD95A);
  background-clip: text;
  color: transparent;
}
.contact .contact-container{
  display: flex;
  height: 100vh;
  padding: 20px 150px;
  align-items: center;
  gap: 50px;
}
.contact-label{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  background-image: url(./Components/Images/contact-label-background.jpg);
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* border: 1px solid; */
  border-radius: 20px;
}
.contact-label > h3{
  text-decoration: underline;
  background: transparent;
}
.contact-label a{
  background:transparent;
}
.contact-form{
  width: 50%;
  height: 100%;
  padding: 0 50px;
  border-left: 1px solid;
}
.contact-form > h4{
  color:#08415c;
}
.contact-form form{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.contact-form form label{
  font-size: 0.9em;
}
.contact-form form .design-input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  transition: all 0.2s ease;
}
.contact-form form .design-input:focus{
  /* border-bottom: none; */
  outline: none;
  border-bottom: 2px solid #025992;
}
.contact-form form textarea{
  border: 1px solid black;
  transition: all 0.2s ease;
  border-radius: 5px;
  padding:0 4px;
}
.contact-form form textarea:focus{
  outline: none;
  border: 2px solid #025992;
}
.contact-form form input[type="submit"]{
  margin-top: 6px;
  padding: 3px;
  border-radius: 30px;
  border: none;
  background-color: #016aae;
  color: #fff;
  transition: background-color 0.2s ease;
} 
.contact-form form input[type="submit"]:hover{
  background-color: #025992;
  cursor: pointer;
}
.mobile-no{
  display: flex;
  flex-wrap: wrap;
  background: transparent;
}
.mobile-no  > a,p{
  background:transparent;
  font-weight: 500;
}
/* ! Footer */
.footer{
  padding: 10px 0;
  height: 5vh;
  width: 100vw;
  text-align: center;
}
.footer > h5{
  color: black;
  font-weight: 400;
  font-size: 0.7em;
}
/* ! Media Query for monitors (1085px) */
@media screen and (max-width:1085px){
  .about .about-container{
    margin-bottom: -50px;
  }
  .about .about-image-skills{
    width: 40%;
    height: 70%;
  }
  .about .about-skills .skills-icons{
    margin-top: 20px;
  }
  .about .about-skills > p{
    font-size: 0.8em;
    font-weight: 400;
  }
  .about .about-skills .skills-icons i{
    font-size: 3em;
  }
  .about .about-skills .skills-icons i:hover{
    font-size: 3.4em;
  }



}

/* ! Media Query for ipads(768px) */
@media screen and (max-width:768px){
  /* .about{
    gap: 20px;  
  }  */
  .about .about-container{
    text-align: center;
  }
  .about .about-image-skills{
    display: none;
  }
  .about .about-image-skills p{
    font-size: 1.6em;
  }
  .about .about-skills .skills-icons{
    margin-top: 40px;
  }
  .about .about-skills{
    padding: 0;
    width: 100%;
  }
  .about .hobby-container{
    display: block;
  }
  .about .hobby-container .about-image-hobby{
    background-image: none;
    margin-top: 20px;
    width: 100%;
  }
  .about .hobby-container .about-hobby{
    width: 100%;
    height: 90%;
    border-radius: 0;
  }
  .about .hobby-container .about-hobby img{
    filter: none;   
  }
}

/* ! mobile devices */
@media screen and (max-width:600px){
  .navbar{
    /* padding: 10px 30px; */
    position: fixed;
    padding: 20px 0;
    box-shadow: 0 0 0.35rem ;
    background: transparent;
    backdrop-filter: blur(9px);
    justify-content: center;
    left: 23px;
    bottom: 8px;
    z-index: 1;
    width: 90%;
    /* border: 1px solid; */
    border-radius: 20px;
  }
  .navbar .name p{
    display: none;
  }
  .navbar .links ul{
    align-items: center;
  }
  .navbar .links ul{
    background: transparent;
  }
  .about{
    padding: 0 30px;
  }
  .projects{
    padding: 0 30px;
  }
  .project-1{
    flex-direction: column;
    height: 200vh;
    padding: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    /* text-align: center; */
  }
  .project-1 .thumbnail{
    width: 100%;
  }
  .project-1 .desc{
    font-size: small;
    margin-left: 0;
    width: 100%;
  }
  .projects-container{
    height: 100vh;
  }
  .project-2{
    flex-direction: column;
  }
  .project-2 .thumbnail{
    width: 100%;
  }
  .project-2 .desc{
    font-size: small;
    margin-left: 0;
    width: 100%;
  }
}